---
layout: default
title: "Home"
---
<div class="home">
  <div class="home-intro">
    <!-- <div>Incorporate an events section</div> -->
    <h2>Who are we?</h2>
    <p>
      Who are we? : Bolden Therapeutics is a biotechnology company developing first-in-class 
      therapeutics to treat central nervous system diseases such as Alzheimer’s disease and 
      ischemic stroke. Bolden’s research facility is located in Cambridge, MA, and its corporate 
      headquarters is located in Providence, RI. 
    </p>
    {% include divider.html %}
  </div>
  {% include science.html %}
</div>
