---
layout: default
title: "Bolden Therapeutics"
---
<div class="home">
  <div class="intro">
    <!-- <div>Incorporate an events section</div> -->
    <h2 style="text-align: center;">Our Mission:</h2>
    <h3 style="text-align: center;">To improve the lives of millions suffering from neurodegeneration.</h3>
    <h2>Who are we?</h2>
    <p>
      Bolden Therapeutics is a biotechnology company developing first-in-class 
      therapeutics to treat central nervous system diseases such as Alzheimer’s disease and 
      ischemic stroke. Bolden’s research facility is located in Cambridge, MA, and its corporate 
      headquarters is located in Providence, RI. 
    </p>
  </div>
  {% include divider.html %}
  {% include science.html %}
</div>
