---
layout: default
title: "Resources"
---

<div class="resources">
  <div class="intro">
    <h2>Resources</h2>
    <p>
      Neurogenesis is the formation of new neurons from neural stem cells (NSCs). 
      It is an endogenous process that has been observed throughout life into advanced age. 
      NSCs reside in at least two regions of the adult brain: the dentate gyrus of the hippocampus 
      and the subventricular zone, which lines the lateral ventricles. Additional information about 
      neurogenesis, Alzheimer's disease, and drug development can be found in our team’s publications.
    </p>
  </div>
  <div class="bibliographies">
    {% for item in site.data.resources %}
    <div class="bibliography">
      <p>See <a href={{item.url}} target="_blank">{{item.name}}'s Publications</a></p>
    </div>
    {% endfor %}
  </div>
  {% include divider.html %}
  <div class="presentation">
    <p>To learn more about our team's research, watch this video of our recent presentation hosted by RI BIO:</p>
    <div class="video-container">
      <iframe src="https://www.youtube.com/embed/Jv0v2zcgCVQ" frameborder="0" allowfullscreen class="youtube-video"></iframe>
    </div>
  </div>
</div>