---
layout: default
title: "Team"
---
<div class="about-us">
  <h2>Meet the Team</h2>
  {% for item in site.data.team %}
  <div class="about-us-member">
    {% assign parity = forloop.index | modulo: 2 %}
    {% capture img_block %}
    <div class="about-us-member-img-container">
      <img src="assets/img/team/{{item.img}}" class="about-us-member-img" alt="{{item.name}}, {{item.title}}">
    </div>
    {% endcapture %}
    {% if parity == 1 %}{{ img_block }}{% endif %}
    <div class="about-us-member-info">
      <h3>{{item.name}}, {{item.education}}</h3>
      <i><p>{{item.title}}</p></i>
      <p>{{item.about}}</p>
    </div>
    {% if parity == 0 %}{{ img_block }}{% endif %}
  </div>
  {% endfor %}
</div>
