{% for item in site.data.science %}
{% capture border_style %}
  {% if forloop.first %}border-radius: var(--intro-border-radius) var(--intro-border-radius) 0 0;{% endif %}
  {% if forloop.last %}border-radius: 0 0 var(--intro-border-radius) var(--intro-border-radius);{% endif %}
{% endcapture %}
<div class="home-pic" 
  style="
        background-image: url(/assets/img/science/{{item.filename}}); 
        text-align: {{item.align}};
        justify-content: {{item.align}};
        {{border_style}}">
  <div class="home-background-dim" style="{{border_style}}"></div>
  <div class="home-pic-text">
    <h2>{{item.title}}</h2>
    <p style="text-indent: 0;">{{item.content}}</p>  
  </div>
</div>
{% endfor %}