.publications {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.publications p {
  text-indent: 0;
}

.publications .bibliographies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.publications .bibliography {
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: var(--about-us-member-border-radius);
  padding: 0 20px;
  box-shadow: 3px 3px 5px rgba(30, 30, 30, 0.5);
  margin: 10px;
}