.resources {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.resources .bibliographies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.resources .bibliography-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-basis: 0;
}

.resources .bibliography {
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: var(--intro-border-radius);
  padding: 0 20px;
  box-shadow: 3px 3px 5px rgba(30, 30, 30, 0.5);
  margin: 10px;
}

.resources .bibliography p {
  text-indent: 0;
  white-space: nowrap;
}

.resources .presentation {
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: var(--intro-border-radius);
  padding: var(--intro-padding) calc(var(--intro-padding) * 1.5);
}

.resources .presentation p {
  text-indent: 0;
  margin-top: 0;
}

.resources .video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.resources .video-container .youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}