:root {
  --logo-o-color: rgb(63, 98, 136);
  --navbar-color: rgb(113, 148, 186);
  --link-color: rgb(94, 28, 148);
  --link-hover-color: rgb(217, 182, 252);
  --site-width: 1100px;
  --purple-color: rgb(30, 30, 60);
  --background-image-width: 850px;
  --intro-padding: 30px;
  --intro-border-radius: 20px;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  min-width: 650px;
  display: flex;
  flex-direction: column;
  background-color: rgb(190, 180, 200);
  background-image: linear-gradient( rgb(230, 220, 240), rgb(160, 150, 170));
  justify-content: space-between;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(40, 40, 90);
  overflow: hidden;
  font-size: 18px;
}

.background {
  position: absolute;
  z-index: 0;
  opacity: 0.5;
}

.right-background {
  left: max(calc(100% - var(--background-image-width)), calc(50% + var(--site-width) / 2 - 400px));
  top: 200px;
}

.bottom-left-background {
  right: max(calc(100% - var(--background-image-width)), calc(50% + var(--site-width) / 2 - 400px));
  bottom: 0px;
}

.top-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-bottom: 20px;
}

.contents {
  max-width: var(--site-width);
  width: 100%;
}

.footer {
  width: 100%;
  background-color: var(--purple-color);
  color: rgb(246, 240, 252);
  z-index: 2;
}

.footer p {
  margin: 4px;
  text-align: center;
}

.footer a {
  color: rgb(246, 240, 252);
}

.divider {
  width: calc(100% - 40px);
  height: 2px;
  background-color: rgb(180, 180, 180);
  margin: 0 20px;
}

p {
  text-indent: 20px;
  text-align: justify;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}


:root {
  --home-intro-padding: 10px;
  --home-intro-border-radius: 20px;
}

.intro {
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240, 0.8);
  box-shadow: 2px 2px 3px rgba(30, 30, 30, 0.4);
  padding: 0 var(--intro-padding);
  border-radius: 0 0 var(--intro-border-radius) var(--intro-border-radius);
}
