:root {
  --team-member-border-radius: 30px;
  --team-member-offset: 80px;
  --team-image-width: 200px;
  --team-image-container-margin: 10px;
}

.team {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.team .team-member {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: var(--team-member-border-radius);
  box-shadow: 3px 3px 5px rgba(30, 30, 30, 0.5);
  padding: 25px;
}

.team .team-member:nth-child(even) {
  margin-right: var(--team-member-offset);
}

.team .team-member:nth-child(odd) {
  margin-left: var(--team-member-offset);
}

.team .team-member:nth-child(odd) h3, 
.team .team-member:nth-child(odd) i p {
  text-align: center;
  margin-left: calc(2 * var(--team-image-container-margin) + var(--team-image-width) - var(--team-member-offset));
}

.team .team-member:nth-child(even) h3, 
.team .team-member:nth-child(even) i p {
  text-align: center;
  margin-right: calc(2 * var(--team-image-container-margin) + var(--team-image-width) - var(--team-member-offset));
}

.team .team-member:nth-child(even) .team-member-img-container {
  margin-right: 30px;
}

.team .team-member:nth-child(odd) .team-member-img-container {
  margin-left: 30px;
}

.team .team-member-info h3 {
  margin: 0;
}

.team .team-member-info i p {
  text-indent: 0;
  margin: 10px 0;
}

.team .team-member-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: var(--team-image-container-margin);
}

.team .team-member-img {
  width: var(--team-image-width);
  height: auto;
  border-radius: var(--team-member-border-radius);
  box-shadow: 0px 0px 8px rgb(170, 160, 180);
}

.team .team-member-info {
  display: flex;
  flex-direction: column;
}

.team p {
  margin: 0;
}

.team .team-member-about {
  text-align: justify;
}

.team .team-join {
  padding: 1px 20px 10px;
  background-color: rgba(240, 240, 240, 0.8);
  border-radius: var(--team-member-border-radius);
  box-shadow: 3px 3px 5px rgba(30, 30, 30, 0.5);
}